:root {
  --primary-background: #222E50;
  --form-background: #DBDEE3;

  --primary-title-color: #FFFFFF;
  --auth-title-size: 48px;

  --primary-color: #DC703A;
  --primary-color-hovered: #c3551e;
  
  --field-scale: 1.1;
  --button-scale: 1.2;

  --color-danger: red;
  --color-success: green;
}

.App {
  width: 100%;
  height: 100%;
  background-color: var(--primary-background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Mars {
  display: block;
  width: 500px;
  height: 500px;
  animation-name: planet;
  animation-iteration-count: infinite;
  animation-duration: 30s;
}

.link {
  color: var(--primary-color);
}

.link:hover {
  cursor: pointer;
  color: var(--primary-color-hovered);
}

.button {
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid black;
  text-transform: uppercase;
  margin: 10px 0;
}

.button:focus, .button:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
  scale: var(--button-scale);
}

.button--half {
  width: 50%;
}

@keyframes planet {
  0% {
    transform: translate(0px, 50px);
  }
  50% {
    transform: translate(0px, -50px);
  }
  100% {
    transform: translate(0px, 50px);
  }
}
