.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 100px;
}

.field {
    background-color: transparent;
    border-bottom: 2px solid black;
    margin: 20px 0;
    width: 100%;
}

.field--error {
    border-color: var(--color-danger);
}

.field__error, .field--error {
    color: var(--color-danger);
}

.field, .field:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.field:focus {
    outline: none;
    transform: scale(1.2);
}

.field:focus {
    transform: scale(1.2);
    background-color: var(--form-background);
    border-bottom: 2px solid var(--primary-color);
}

.form__inner-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}

.form__inner-wrapper--col {
    flex-direction: column;
    align-items: center;
}

.field:hover, .button:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.field:hover {
    background-color: var(--form-background);
}

.field:focus, .field:hover {
    scale: var(--field-scale);
}

.password--true {
    display: none;
}

@media screen and (max-width: 800px) {
    .form {
        width: 130%;
        padding: 0px;
    }
}